{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Update Account{% endblock  %}

{% block body_block %}
<div class="container m-auto w-50">
    <div class="card p-5 mb-5">
        <h2>Update Account</h2>
        <p class='lead'>Insert correct credentials to update account</p>
        <form method="post">
            {{form|crispy}}
            {% csrf_token %}
            <input type="submit" class="btn btn-dark mt-3" value="Update Profile">
            <a class="btn btn-info mt-3" href="{% url 'app_login:profile' %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock  %}