{% extends 'base.html' %}
{% block title_block %}All Blogs{% endblock  %}
{% load static %}
{% block body_block %}

<main class="blog-post-single">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-8">
                <div class="mb-3 overflow-hidden rounded" style="max-height:300px">
                    <img src="{% static 'images/empty.jpg' %}" alt="" class="img-fluid align-middle w-100">
                </div>
                <div class="post-content">
                    <h4 class="fw-bold">Outdoor Work: a Designer’s Checklist for Every UX Project.</h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, quasi?</p>
                    <p style="text-align:justify">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-primary"><i class="bi bi-star"></i> Like</button>
                    <input type="text" class="form-control" placeholder="Your Comment">
                    <button class="btn btn-dark"><i class="bi bi-chat-dots"></i> Comment</button>
                </div>
                <div class="card mb-5">
                    <div class="card-header">
                        <i class="bi bi-chat-right-quote"></i>
                        Comments by other users:
                    </div>
                    <div class="card-body">
                        <div class="card p-2 mb-1">
                            <h5>Rashed Ahmed</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>                                       
                        <div class="card p-2 mb-1">
                            <h5>Rashed Ahmed</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>                                       
                        <div class="card p-2 mb-1">
                            <h5>Rashed Ahmed</h5>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>                                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <h5>Tags</h5>
                    <div class="py-3">
                        <span class="border p-2 rounded">Design</span>
                        <span class="border p-2 rounded">Development</span>
                        <span class="border p-2 rounded">UI/UX</span>
                    </div>
                </div>
                <div class="mb-3">
                    <h5>Share</h5>
                    <div class="py-3">
                        <a class="btn btn-light me-2"><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-light me-2"><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-light me-2"><i class="bi bi-discord"></i></a>
                        <a class="btn btn-light me-2"><i class="bi bi-telegram"></i></a>
                    </div>
                </div>
                <div class="">
                    <h5 class="">Categories</h5>
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock  %}