{% extends 'base.html' %}
{% block title_block %}All Blogs{% endblock  %}
{% load static %}
{% block body_block %}
<main class="blog-grid-page">
    <div class="container">
        <p class='lead'>Newly Posted Blogs For You</p>
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="blog-post-card">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/empty.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <h5 class="blog-post-title">Why you must experience design at least once</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post-card">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/empty.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <h5 class="blog-post-title">Why you must experience design at least once</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post-card">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/empty.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <h5 class="blog-post-title">Why you must experience design at least once</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post-card">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/empty.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <h5 class="blog-post-title">Why you must experience design at least once</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post-card">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/empty.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <h5 class="blog-post-title">Why you must experience design at least once</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post-card">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/empty.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <h5 class="blog-post-title">Why you must experience design at least once</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-5 mb-5">
                    <nav class="app-pagination d-flex align-items-center justify-content-center">
                        <a href="#" class="active">01</a>
                        <a href="#">02</a>
                        <a href="#">03</a>
                        <a href="#" class="next">&rarr;</a>
                    </nav>
            </div>
        </div>
    </div>
</main>

{% endblock  %}