{% extends 'base.html' %}
{% block title_block %}{{user.first_name|default:"User"}}' Blogs{% endblock  %}
{% load custom_filters %}
{% load static %}
{% block body_block %}
<main class="blog-grid-page">
    <div class="container">
        <p class='lead'>{{user.first_name|default:"User"}}' Blogs</p>
        <div class="row mt-2">
            {% for blog in user.blog_author.all %}
            <div class="col-md-4 mb-4">
                <div class="card" style="height:355px">
                    <div class="overflow-hidden">
                        <a href="{% url 'app_blog:blog' slug=blog.slug %}">
                        <img class="img-fluid"
                            {% if blog.blog_image == "" %}
                                src="{% static '/images/empty.jpg' %}"
                            {% else %}
                                src="/media/{{blog.image}}"
                            {% endif %} 
                        alt=""></a>
                    </div>
                    <div class="px-3 py-1">
                        <p class="d-flex justify-content-between mb-1 text-secondary">
                            <span><i class="bi bi-calendar3"></i> {{blog.published|date}}</span>
                            <span><i class="bi bi-person-circle"></i> {{blog.author}}</span>
                        </p>
                        <h5>{{blog.title|value_range:60}}</h5>
                        <p class="mb-0">{{blog.content|value_range:85}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="{% url 'app_blog:update' pk=blog.pk %}" class="btn btn-warning">Edit Blog Content</a>
                        <a href="{% url 'app_blog:delete' pk=blog.pk %}" class="btn btn-danger">Delete Blog</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock  %}